See:
* http://jonathansoma.com/lede/algorithms-2017/classes/fuzziness-matplotlib/fuzzing-matching-in-pandas-with-fuzzywuzzy/
* https://medium.com/@rtjeannier/combining-data-sets-with-fuzzy-matching-17efcb510ab2

In [45]:
df1=pd.DataFrame({'A':['asdfg','ghjkl','qwert','cvbnvvc']})
df2=pd.DataFrame({'A':['gdjkl', 'asdgg', 'cdbnvvt', 'qwert'],
                  'B':['A','B','C','D']})

# Method 1:
https://stackoverflow.com/a/35406648/2268280

In [48]:
import pandas as pd
import fuzzywuzzy.process as fwp

In [49]:
df2.A

0      gdjkl
1      asdgg
2    cdbnvvt
3      qwert
Name: A, dtype: object

In [50]:
fwp.extractOne(df1.loc[0,'A'],df2.A)

('asdgg', 80, 1)

In [51]:
fwp.extractOne(df1.loc[0,'A'],df2.A)

('asdgg', 80, 1)

In [52]:
df1['new_A']=df1.A.apply(lambda s: fwp.extractOne(s,df2.A))

In [53]:
df1

         A             new_A
0    asdfg    (asdgg, 80, 1)
1    ghjkl    (gdjkl, 80, 0)
2    qwert   (qwert, 100, 3)
3  cvbnvvc  (cdbnvvt, 71, 2)

In [56]:
df1['AA']=df1.new_A.str[0]

In [60]:
df1.merge(df2,left_on='AA',right_on='A',how='left',suffixes=['','_df2']).drop('A_df2',axis='columns')

         A             new_A       AA  B
0    asdfg    (asdgg, 80, 1)    asdgg  B
1    ghjkl    (gdjkl, 80, 0)    gdjkl  A
2    qwert   (qwert, 100, 3)    qwert  D
3  cvbnvvc  (cdbnvvt, 71, 2)  cdbnvvt  C